@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Outfit:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
}

body {
  color: black;
}

/* header*/
.select {
  height: 3rem;
  width: 200px;
}

#header-container {
  box-shadow: 0 12px 16px 0 rgba(190, 108, 108, 0.541);
  background-color: rgb(208, 215, 218);
  padding:8rem;
  margin: 2rem auto;
  
}

input {
  padding: 10px;
}
/* header end */

.shows-button {
  background-color: #b751b2;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
}

.each-show-header {
  padding: 15px;
  padding-bottom: 0;
}

/* make pages for shows start */
.eachShow-container {
  border-radius: 20px;
  /* margin: 20px; */
}

.content-wrapper {
  border: 5px solid rgb(253, 232, 243);
  background-color: aliceblue;
  border-radius: 15px;
}

.content-wrapper:hover {
  box-shadow: 0 12px 16px 0 rgba(190, 142, 235, 0.541),
    0 17px 50px 0 rgba(136, 129, 235, 0.19);
}

/* make pages for shows end */

#all-episodesDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  margin: auto;
}

.episode-div {
  background-color: rgba(241, 245, 246, 0.989);
  border-radius: 10px;
  text-align: center;
}

.episode-div:hover {
  box-shadow: 0 12px 16px 0 rgba(195, 25, 153, 0.541),
    0 17px 50px 0 rgb(219, 230, 236);
}

h3 {
  font-weight: 900;
  border-radius: 5px;
  padding: 15px;
}

.episode-img {
  display: block;
  margin: 0 auto;
}

p {
  color: rgb(17, 17, 17);
  padding: 30px;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .header {
    font-size: 3rem;

  }

  /* header */
  #header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
  }
  #tv-logo {
    font-size: 3.5rem;
  }
  /* header  end */

  /* make pages for shows start */
  .each-show-header {
    padding: 0 2.5rem;
  }

  .span-text {
    width: 70%;
  }
  .content-wrapper {
    display: flex;
    padding: 2em;
    margin: 2em;
    font-size: 1.2rem;
    align-items: center;
  }

  .asideDiv {
    padding: 1em;
    border-radius: 10px;
    height: 10rem;
  }

  .asideDiv:hover {
    box-shadow: 0 12px 16px 0 rgba(190, 142, 235, 0.541),
      0 17px 50px 0 rgba(221, 59, 207, 0.19);
  }
  /* make pages for shows end */
}
