* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(239, 239, 239);
  color: black;
}

#search-header {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#all-episodesDiv {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0 80px;
}

.episode-div {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

h3 {
  font-weight: 900;
  border-radius: 5px;
  padding: 15px;
}

img {
  display: block;
  margin: 0 auto;
}

p {
  color: rgb(138, 136, 136);
  padding: 30px;
}

footer {
  padding-left: 70px;
}